{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой первый магазин{% endblock %}</title>
    <link href="{% static 'myshop/css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
<a href="/" class="logo">Мой первый магазин</a>
</div>
<div id="subheader" >
{% with total_items=cart|length %}
        {% if cart|length > 0 %}
            В Вашей корзине :
            <a href="{% url "MyShop:cart_detail" %}">
                {{ total_items }} ед. товара,
                на общую сумму {{ cart.get_total_price }} грн.
            </a>
        {% else %}
            Ваша корзина пуста
        {% endif %}
    {% endwith %}
<p>

</p>
<form action="{% url 'MyShop:search_results' %}" method="get">
        <input name="q" type="text" placeholder="Поиск...">
    </form>

    <div style="text-align: right">
        {% if user.is_authenticated %}
        <a href="logout/">Выйти({{user.username}})</a>
        {% else %}
        <a href="register/">Регистрация</a> | <a href="login/">Войти</a>
        {% endif %}
    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>