{% extends 'product/base.html' %}
{% load static %}
{% block title %}
    Ваша корзина покупок
{% endblock %}
{% block content %}
    <h1>Ваша корзина покупок</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена единицы</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "images/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "MyShop:cart_remove" product.id %}">Удалить</a></td>
                    <td class="num">{{ item.price }} грн.</td>
                    <td class="num">{{ item.total_price }} грн.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} грн.</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        {% if user.is_authenticated %}
        <a href="{% url "MyShop:product_list" %}" class="button light">Продолжить покупки</a>
        <a href="{% url 'MyShop:order_create' %}" class="button">Оформить заказ</a>
    {% else %}
    <a href="/" class="button">Для оформления заказа необходимо зарегистрироваться </a>
    </p>
    {% endif %}

{% endblock %}