{% extends 'product/base.html' %}
{% block title %}Спасибо{% endblock %}
{% block content %}
    <h1>Спасибо</h1>
    <p>Ваш заказ сформирован. Вашему заказу присвоен номер
    <strong>{{ order.id }}</strong></p>
{% endblock %}