{% extends 'product/base.html' %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
    <h1>Оформление заказа</h1>
    <div class="order-info">
    <h3>Ваш заказ</h3>
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x{{ item.product.name }}
            <span>{{ item.total_price }} грн.</span>
        </li>
        {% endfor %}
    </ul>
    <p>Итого:{{ cart.get_total_price }}</p>
    </div>
    <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Разместить заказ"></p>
    {% csrf_token %}
    </form>

{% endblock %}