{% extends "product/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "myshop/images/default.jpg" %}{% endif %}">
<h1>{{ product.name }}</h1>
<h2>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h2>
<p class="price">{{ product.price }} грн.</p>

{{ product.description|linebreaks }}
<form action="{% url 'MyShop:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>
<br>
<br>

    <a href="/">На главную страницу</a>
</div>
    <div class="feedback">
    {% with comments.count as total_comments %}
    <h2>
    {{ total_comments }} комментариев
    </h2>
    {% endwith %}
    {% for comment in comments %}
        <div>
        <p>
            Комментарий {{ forloop.counter }} создан {{ comment.date }} пользователем {{ comment.user }}
        </p>
        {{ comment.name|linebreaks }}
        </div>
    {% empty %}
        <p>У данного товара пока нет отзывов</p>
    {% endfor %}
{% if user.is_authenticated %}
{% if new_comment %}

    <h2>Ваш комментарий добавлен</h2>
    {% else %}
    <h2>Добавить новый комментарий</h2>
    <form action="" method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавьте комментарий"></p>
    </form>
    {% endif %}
{% else %}
    <br>
    <br>
<p>Отзывы могут оставлять только зарегистрированные пользователи</p>
    </div>
{% endif %}
{% endblock %}