{% extends 'product/base.html' %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar">
    <h3>Категория</h3>
    <ul>
        <li {% if not category %}class="selected" {% endif %}>
            <a href="{% url "MyShop:product_list" %}">Все</a>
        </li>
        {% for cat in categories %}
        <li {% if category.slug == cat.slug %}class="selected" {% endif %}>
            <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>
        {% endfor %}
    </ul>
<br>
<br>
<h3>Просмотренные товары</h3>

    <ul>
        {% for prod in revprod %}
        <li>
        <a href="{{ prod.url }}">{{ prod.product }}</a>

        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1 class="item1">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
    {% for p in product_list %}
    <div class="item">
        <a href="{{ p.get_absolute_url }}">
            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'myshop/images/no_image.jpg' %}{% endif %}">
        </a>
        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
        <br>
        {{ p.price }} грн.
    </div>
    {% endfor %}
</div>

{% endblock %}
