{% extends 'product/base.html' %}
{% load static %}
{% block title %}
    Результаты поиска
{% endblock %}
{% block content %}
<h1>Результаты поиска</h1>
  <ul>
    {% for product in object_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{product.name}}</a>
      </li>
    {% endfor %}
  </ul>
<div>
    <a href="/">На главную</a>
</div>
{% endblock %}

