{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'myshop/css/old/styles.css' %}" rel="stylesheet"/>
</head>
<body>
{% block mainmenu %}
<ul>
  {% for m in menu %}
<li>{{ m }}</li>
   {% endfor %}
</ul>
{% endblock mainmenu %}

{% block content %}
{% endblock content %}
</body>
</html>