{% extends 'product/base.html' %}

{% block content %}

<ul>


    {% for product in product_list %}
    <li>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} грн.</p>
        <hr>
    </li>
    {% endfor %}
</ul>
{% endblock %}