<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>


    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>